PORT=4000
MONGO_URI=mongodb://localhost:27017/mekari
REDIS_URL=redis://localhost:6379
JWT_SECRET=CHANGE_ME_IN_PROD
GOOGLE_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com
FRONTEND_ORIGIN=http://localhost:3000
PUBLIC_API_BASE_URL=http://localhost:4000
HCAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001
HCAPTCHA_SECRET_KEY=0x0000000000000000000000000000000000000000
GEMINI_API_KEY=AIzaSyC6ZBwOMT7WbxveCat3ivJRT7y8oCHAB0E
GEMINI_MODEL=gemini-2.5-flash

